.myMovies{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myMovies h1{
    margin-bottom: 14px;
}

.myMovies  span{
    font-size: 18px;
}
.myMovies ul{
    width: 720px;
}

.myMovies ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.myMovies div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myMovies a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}