.movieInfo{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    margin: 0 auto;
}
.movieInfo h1{
    margin: 14px 0;
}
.movieInfo img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.movieInfo h3{
    margin-top: 14px;
}

.movieInfo span{
    margin: 8px 0;
}

.areaButtons button{
    margin: 14px 12px 0 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
}
.areaButtons button:hover{
    background-color: brown;
    color: #FFF;
}
.areaButtons a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}
.areaButtons a:hover{
    
    color: #FFF;
}